@media screen and (max-width: 1200px) {
   
}

@media screen and (max-width: 992px) {
   h1 {
      font-size: 4.6rem;
   }

   h2 {
      font-size: 2.8rem;
   }

   h3 {
      font-size: 1.8rem;
   }

   .header {
      padding: 32px 0;

      &.fixed {
         padding: 16px 0;
      }
   }

   .advantages {
      padding-top: 80px;
      padding-bottom: 80px;

      &__item {
         width: calc(50% + -15px);
   
         &:nth-child(odd):not(:last-child) {
            margin-right: 30px;
         }
   
         &:nth-child(even):not(:last-child) {
            margin-bottom: 30px;
         }
      }
   }

   .advantage-card {
      padding: 0px 30px 30px 30px;
   }
}

@media screen and (max-width: 768px) {
   body {
      font-size: 1.4rem;
   }

   h1 {
      font-size: 3.4rem;
   }

   h2 {
      font-size: 2.2rem;
   }

   h3 {
      font-size: 1.6rem;
   }

   .container {
      padding: 0 10px;
   }

   .btn {
      padding: 10px 32px;
   }

   .hero {
      &__inner {
         padding: 0 10px;
      }

      &__body {
         margin-right: -40px;
      }

      &__title {
         margin-bottom: 24px;
      }

      &__description {
         margin-bottom: 48px;
      }
      
      &__image-wrapper {
         flex-basis: 55%;
      }
   }
}

@media screen and (max-width: 576px) {
   .advantages {
      padding-top: 40px;
      padding-bottom: 40px;

      &__title {
         position: static;
         margin-bottom: 32px;
      }

      &__list {
         display: block;
      }

      &__item {
         width: 100%;

         &:nth-child(odd),
         &:nth-child(even) {
            &:not(:last-child) {
               margin: 0px 0px 30px 0px;
            }
         }
      }
   }
}

@media screen and (max-width: 476px) {
   .hero {
      padding-bottom: 30px;

      &__inner {
         display: block;
      }

      &__body {
         position: relative;
         z-index: 1;
         margin-right: 0;
      }

      &__description {
         max-width: 100%;
         color: $mainColor1;
      }

      &__image-wrapper {
         position: absolute;
         top: 0;
         left: 10px;
         width: calc(100% + -20px);
         height: 100%;
         opacity: 0.4;
      }

      &__image {
         width: 100%;
      }
   }
}

@media screen and (max-width: 414px) {
   h1 {
      font-size: 2.8rem;
   }

   h2 {
      font-size: 2.0rem;
   }

   h3 {
      font-size: 1.5rem;
   }

   .header {
      padding: 24px 0;

      &.fixed {
         padding: 12px 0;
      }
   }
}

@media screen and (max-width: 320px) {
   
}

@media (max-width: 812px) and (max-height: 414px) and (orientation: landscape) {
   body {
      font-size: 1.4rem;
   }

   h1 {
      font-size: 2.8rem;
   }

   h2 {
      font-size: 2.0rem;
   }

   h3 {
      font-size: 1.5rem;
   }

   .header.fixed {
      padding: 8px 0;
   }

   .overlay {
      padding-top: 50px;

      &__inner {
         max-height: calc(100vh + -50px + -24px);
      }

      &__navigation {
         margin-bottom: 24px;
      }
   }

   .navigation {
      &__link {
         padding: 8px 0;
         font-size: 1.8rem;
      }
   }

   .advantage-card {
      padding: 0px 20px 20px 20px;

      &__image-wrapper,
      &__description {
         margin-bottom: 16px;
      }

      &__image-wrapper {
         max-height: 35vh;
      }
   }
}