/****************/
/*** <colors> ***/
$lightColor:      #FFFFFF;
$darkColor:       #000000;

$mainColor:       #1A237E;
$accentColor:     #c1e61c;
$additionalColor: #52cc58;

$errorColor:      #CF2626;
$successColor:    #40eb0c;

$grayColor1:      #DEEFF6;
$grayColor2:      #DEEFF6;
$grayColor3:      #DEEFF6;
$grayColor4:      #DEEFF6;
$grayColor5:      #DEEFF6;
/*** </colors> ***/
/*****************/


/*************************/
/*** <other variables> ***/
$transition1: all 0.3s ease;
$transitionOverlay: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.075);
$transitionBtnGlow: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
$mainFontFamily: 'Gilroy';
$accentFontFamily: 'Conv_Galien-Regular';
/*** </other variables> ***/
/**************************/