@import '_fonts.scss';
@import '_variables.scss';

html {
   font-size: 10px;

   &.lock {
      overflow: hidden;
   }
}

.container {
   width: 100%;
   max-width: 970px;
   margin: 0 auto;
   padding: 0 15px;
}

.container1200 {
   width: 100%;
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}

.container-wide {
   width: 100%;
   max-width: 1366px;
   margin: 0 auto;
}

body {
   display: flex;
   flex-direction: column;

   max-width: 3440px;
   min-width: 320px;

   height: 100%;
   min-height: 100vh;
   
   margin: 0 auto;
   overflow-x: hidden;

   font-family: $mainFontFamily;
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 162%;
   color: $mainColor1;
}

main {
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;
}

header,
footer {
   flex: 0 0 auto;
}

h1 {
   font-family: $accentFontFamily;
   font-size: 6.4rem;
   font-weight: 700;
   line-height: 116%;
   letter-spacing: 0.04em;
}

h2 {
   font-size: 3.6rem;
   font-weight: 600;
   line-height: 128%;
   letter-spacing: 0.05em;
   color: $mainColor2;
}

h3 {
   font-size: 2rem;
   font-weight: 600;
   line-height: 150%;
   letter-spacing: 0.05em;
}

a,
button,
input,
textarea,
:before,
:after {
   transition: $transition1;
}

img {
   max-width: 100%;
}

ul {
   list-style: none;
}

a {
   display: inline-block;
   text-decoration: none;
}

.btn {
   position: relative; 
   overflow: hidden;

   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 15px 48px;

   text-align: center;
   white-space: nowrap;
   color: $lightColor;
   
   background: $mainColor4;
   border-radius: $borderRadius1;
   box-shadow: $boxShadow1;

   &:after {
      content: "";
      position: absolute;
      top: -50px;
      left: -75px;
      width: 50px;
      height: 155px;
      background: $lightColor;
      opacity: 0.2;
      transform: rotate(35deg);
      transition: $transitionBtnGlow;
   }

   &:hover:after {
      left: 120%;
      transition: $transitionBtnGlow;
   }

   &:active {
      transform: scale(1.02);
   }
}

.editable-content {
   p, ul, ol, table, img {
      &:not(:last-child) {
         margin-bottom: 32px;
      }
   }

   ul {
      list-style: none;

      li {
         position: relative;
         padding-left: 20px;

         &:before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            width: 12px;
            height: 1px;
            background: $mainColor1;
         }
      }
   }

   li:not(:last-child) {
      margin-bottom: 24px;
   }
}

.header {
   position: fixed;
   z-index: 10;
   top: 0;
   left: 0;
   width: 100%;
   padding: 48px 0;
   transition: $transition1;

   &.fixed {
      padding: 24px 0;
      background-color: $lightColor;
      box-shadow: $boxShadow2;
   }

   // .header__inner
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__logo,
   &__burger-button {
      position: relative;
      z-index: 20;
   }

   // .header__burger-button
   &__burger-button {
   }
   
   // .header__overlay
   &__overlay {
   }
}

.logo {
   // .logo__link
   &__link {
      display: flex;

      &:hover {
         transform: scale(1.05);
      }
   }

   // .logo__image
   &__image {
   }
}

.burger-button {
   display: flex;
   width: 32px;
   height: 32px;
   background-color: transparent;
   border: none;
   cursor: pointer;

   &:hover {
      // transform: scale(1.05);
      background-color: $mainColor5;

      .burger-button__line {
         stroke: $lightColor;
      }
   }

   svg {
      width: 100%;
      height: 100%;
   }

   &__line {
      fill: none;
      stroke: $mainColor3;
      stroke-width: 6;
      transition: 
         stroke 0.3s ease,
         stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
         stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

      &--1 {
         stroke-dasharray: 60 207;
         stroke-width: 6;
      }

      &--2 {
         stroke-dasharray: 60 60;
         stroke-width: 6;
      }

      &--3 {
         stroke-dasharray: 60 207;
         stroke-width: 6;
      }
   }

   &.opened .burger-button__line {
      stroke: $lightColor;

      &--1 {
         stroke-dasharray: 90 207;
         stroke-dashoffset: -134;
         stroke-width: 6;
      }

      &--2 {
         stroke-dasharray: 1 60;
         stroke-dashoffset: -30;
         stroke-width: 6;
      }

      &--3 {
         stroke-dasharray: 90 207;
         stroke-dashoffset: -134;
         stroke-width: 6;
      }
   }
}

.overlay {
   position: fixed;
   z-index: 10;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   padding-top: 128px;
   padding-bottom: 48px;
   background-color: $mainColor4;
   transform: translateX(100%);
   transition: $transitionOverlay;

   &.open {
      transform: translateX(0);
   }

   // .overlay__inner
   &__inner {
      overflow-y: auto;
      max-height: calc(100vh + -128px + -24px);
   }

   // .overlay__navigation
   &__navigation {
      margin-bottom: 48px;
   }

   // .overlay__socials
   &__socials {
      
   }
}

.navigation {
   // .navigation__list
   &__list {
   }

   // .navigation__item
   &__item {
   }

   // .navigation__link
   &__link {
      display: block;
      padding: 16px 0;
      font-size: 2.4rem;
      color: $lightColor;

      &:hover {
         color: $mainColor1;
      }
   }
}

.socials {
   // .socials__list
   &__list {
      display: flex;
      align-items: center;
   }

   // .socials__item
   &__item {
      &:not(:last-child) {
         margin-right: 16px;
      }
   }

   // .socials__link
   &__link {
      width: 32px;
      height: 32px;
      font-size: 0;
      background-position: center;
      background-repeat: no-repeat;

      // .socials__link--instagram
      &--instagram {
         background-image: url("../images/icons/socials/instagram_white.svg");

         &:hover {
            background-image: url("../images/icons/socials/instagram_darkblue.svg");
         }
      }

      // .socials__link--facebook
      &--facebook {
         background-image: url("../images/icons/socials/facebook_white.svg");

         &:hover {
            background-image: url("../images/icons/socials/facebook_darkblue.svg");
         }
      }

      // .socials__link--linkedin
      &--linkedin {
         background-image: url("../images/icons/socials/linkedin_white.svg");

         &:hover {
            background-image: url("../images/icons/socials/linkedin_darkblue.svg");
         }
      }

      // .socials__link--youtube
      &--youtube {
         background-image: url("../images/icons/socials/youtube_white.svg");

         &:hover {
            background-image: url("../images/icons/socials/youtube_darkblue.svg");
         }
      }
   }
}

.hero {
   position: relative;
   padding-top: 100px;
   padding-bottom: 60px;
   background-color: $lightColor;

   &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
      opacity: 0.2;
   }

   // .hero__inner
   &__inner {
      position: relative;
      display: flex;
      align-items: center;
      max-width: 1180px;
      padding: 0 15px;
      margin-left: auto;
   }

   // .hero__body
   &__body {
      margin-right: -70px;
   }

   // .hero__title
   &__title {
      margin-bottom: 32px;
   }

   // .hero__description
   &__description {
      max-width: 85%;
      margin-bottom: 72px;
      color: $grayColor1;
   }

   // .hero__actions
   &__actions {
   }

   // .hero__btn
   &__btn {
   }

   // .hero__image-wrapper
   &__image-wrapper {
      flex: 0 0 60%;
      display: flex;
   }

   // .hero__image
   &__image {
   }
}

.advantages {
   padding-top: 168px;
   padding-bottom: 212px;

   &__inner {
      position: relative;
   }

   // .advantages__title
   &__title {
      position: absolute;
      top: 0;
      left: 0;
   }

   // .advantages__body
   &__body {
   }

   // .advantages__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      max-width: 860px;
      margin-left: auto;
   }

   // .advantages__item
   &__item {
      width: calc(50% + -50px);

      &:nth-child(odd):not(:last-child) {
         margin-right: 100px;
         margin-top: 256px;
         margin-bottom: -256px;
      }

      &:nth-child(even):not(:last-child) {
         margin-bottom: 100px;
      }
   }
}

.advantage-card {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 0px 48px 48px 48px;
   letter-spacing: 0.05em;
   border-radius: $borderRadius1;
   box-shadow: $boxShadow2;

   // .advantage-card__image-wrapper
   &__image-wrapper {
      display: flex;
      max-height: 50vh;
      margin-top: -24px;
      margin-bottom: 44px;
   }

   // .advantage-card__image
   &__image {
      width: 100%;
   }

   // .advantage-card__title
   &__title {
      margin-bottom: 16px;
   }

   // .advantage-card__description
   &__description {
      margin-bottom: 32px;
      color: $grayColor1;
   }

   // .advantage-card__link
   &__link {
      position: relative;
      line-height: 1;
      color: $mainColor4;
      background-color: transparent;
      box-shadow: initial;

      &.btn {
         padding: 12px 48px 12px 0px;
         font-size: 1.4rem;
      }

      &:before {
         content: "";
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         right: 0;
         width: 24px;
         height: 24px;
         background: url("../images/icons/arrow-right_blue.svg") center no-repeat;
      }

      &:hover {
         color: $lightColor;
         background-color: $mainColor4;

         &.btn {
            padding: 12px 48px 12px 24px;
         }

         &:before {
            right: 12px;
            background-image: url("../images/icons/arrow-right_white.svg");
         }

         &:after {
            transition-delay: 0.3s;
         }
      }
   }
}

.partners {
   padding-top: 96px;
   padding-bottom: 125px;
   background-color: $mainColor4;
   border-top-left-radius: 200px;

   // .partners__inner
   &__inner {
   }
   
   // .partners__header
   &__header {
      display: flex;
      align-items: flex-start;
      margin-bottom: 110px;
   }

   // .partners__title
   &__title {
      flex: 0 0 auto;
      margin-right: 96px;
      color: $lightColor;
   }

   // .partners__subtitle
   &__subtitle {
      max-width: 540px;
      color: $mainColor6;
   }

   // .partners__body
   &__body {
   }

   // .partners__list
   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   }

   // .partners__item
   &__item {
      &:not(:nth-last-child(-n + 4)) {
         border-bottom: 1px solid $mainColor7;
      }

      &:nth-child(4n + 1),
      &:nth-child(4n + 2),
      &:nth-child(4n + 3) {
         border-right: 1px solid $mainColor7;
      }
   }
}

.partner-card {
   // .partner-card__link
   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 20px;
      font-size: 2rem;
      font-weight: 600;
      line-height: 230%;
      letter-spacing: 0.02em;
      text-align: center;
      color: $grayColor2;

      &:hover {
         background-color: $mainColor8;
      }
   }

   // .partner-card__image
   &__image {
   }
}

.work,
.footer {
   padding-right: 7.5vw;
   background-color: $mainColor4;

   &__bg-wrapper {
      background-color: $mainColor2;
   }
}

.work {   
   &__bg-wrapper {
      padding-top: 91px;
      border-top-right-radius: 200px;
   }

   // .work__inner
   &__inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 96px;

      &:after {
         content: "";
         position: absolute;
         right: 0;
         bottom: 0;
         width: 100vw;
         height: 1px;
         background-color: $mainColor10;
      }
   }

   // .work__body
   &__body {
      max-width: 460px;
      margin-right: 180px;
   }

   // .work__title
   &__title {
      margin-bottom: 32px;
      color: $lightColor;
   }

   // .work__description
   &__description {
      color: $mainColor9;
   }

   // .work__actions
   &__actions {
   }

   // .work__btn
   &__btn {
      padding-left: 74px;
      padding-right: 74px;
   }
}

.footer {
   color: $lightColor;

   &__bg-wrapper {
      padding-top: 97px;
      padding-bottom: 64px;
   }

   // .footer__inner
   &__inner {
   }

   // .footer__body
   &__body {
      display: flex;
      align-items: flex-start;
      margin-bottom: 64px;
   }

   // .footer__info
   &__info {
      margin-right: 100px;
   }

   // .footer__logo-wrapper
   &__logo-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
   }

   // .footer__contacts
   &__contacts {
      max-width: 264px;
   }

   // .footer__logo
   &__logo {
      margin-right: 15px;
   }

   // .footer__company-name
   &__company-name {
      font-size: 2.8rem;
      line-height: 164%;
      letter-spacing: 0.02em;
   }

   // .footer__navigation
   &__navigation {
      display: flex;
      align-items: flex-start;
   }

   // .footer__menu
   &__menu {
      &:not(:last-child) {
         margin-right: 77px;
      }
   }
   
   // .footer__copyright
   &__copyright {
      color: $mainColor10;
   }
}

.footer-contacts {
   // .footer-contacts__list
   &__list {
   }

   // .footer-contacts__item
   &__item {
      display: flex;
      align-items: flex-start;

      &:not(:last-child) {
         margin-bottom: 24px;
      }
   }

   // .footer-contacts__caption
   &__caption {
      flex: 0 0 auto;
      margin-right: 16px;
   }

   // .footer-contacts__link
   &__link {
      color: $lightColor;

      address {
         font-style: normal;
      }

      &:hover {
         color: $mainColor5;
      }
   }
}

.footer-menu {
   // .footer-menu__list
   &__list {
   }

   // .footer-menu__item
   &__item {
      &:not(:last-child) {
         margin-bottom: 16px;
      }

      &:first-child {
         margin-bottom: 32px;

         .footer-menu__link {
            font-size: 2rem;
            line-height: 150%;
         }
      }
   }

   // .footer-menu__link
   &__link {
      letter-spacing: 0.05em;
      color: $lightColor;

      &:hover {
         color: $mainColor5;
      }
   }
}



@import '_media.scss';

body {
   main {
      // background-color: rgb(214, 201, 201);
   }
   
   header {
      // background-color: $lightColor;
   }

   // section {
   //    display: none;

   //    &.hero {
   //       display: block;
   //    }

   //    &.advantages {
   //       display: block;
   //    }

   //    &.partners {
   //       display: block;
   //    }
   // }

   // footer {
   //    display: none;
   // }
}